/* variables & fonts */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --main-color : #e02f6b ;
  --blue : #0000ff ;
  --blue-dark : #18293c ;
  --orange : #ffa500 ;
  --green-yellow : #cddc39 ;
  --pink-light : #febfce ;
  --light-pink : #f6e1e6;
  --cyan-light : #aef1ee ;
  --white : #ffffff ;
  --white-alpha-40 : rgba( 255 , 255 , 255 , 0.40 ) ;
  --white-alpha-25 : rgba( 255 , 255 , 255 , 0.25 ) ;
  --backdrop-filter-blur: blur(5px);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}

body {
  min-height : 100vh ;
  margin: 0;
  min-height: 100%;
  background-color: #f0e6e6;
  font-family: 'Nanum Gothic', sans-serif;
  color: #131520;
  font-size: 16px;
  line-height: 1.5;

}
/* body::before{
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green-yellow);
  z-index: -1;
  opacity: 0.12;
} */
img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width : 5px ;
}
::-webkit-scrollbar-track {
  background-color : var(--white );
}
::-webkit-scrollbar-thumb {
  background-color : var(--main-color );
}

.text-medium {
  font-weight: 750;
}
.text-xl {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.btn {
  position: relative;
  display: flex;
  margin: 6px;
  padding: 8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .2s;
  transition: .2s;
  color: #131520;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

a {
  background-color: transparent;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  color: #131520;
}
  
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h1 {
  margin: 0 0 0.5em;
  color: #131520;
  font-size: 3.75rem;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -4px;
}

.text-md {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #131520;
  font-size: 3em;
  line-height: 1.25;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.125em;
}
